<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siyanhui.mojif.demo"
    android:versionCode="4"
    android:versionName="2.0.2">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取本机手机唯一编号 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- bugly 相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--BQMM集成-->
        <!--以下两条metadata的值都是占位符，具体的值是在build.gradle中设置的。如果项目没有使用Android Studio，请把占位符改成实际的ID和Secret-->
        <meta-data
            android:name="bqmm_app_id"
            android:value="${bqmmAppID}" />
        <meta-data
            android:name="bqmm_app_secret"
            android:value="${bqmmAppSecret}" />

        <!--BQMM集成-->
        <!--以下是BQMM包含的Activity-->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageList"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDetail"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.ServiceDeclaration"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDown"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageMyCollection"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSetting"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiDetail"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSort"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
    </application>
</manifest>

